apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: assessment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: assessment/worker:latest
        imagePullPolicy: IfNotPresent # Essential to fix ImagePullBackOff
        env:
        - name: REDIS_HOST
          value: "redis"
        - name: MONGO_URL
          value: "mongodb://mongo:27017"
