apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-python
  namespace: assessment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: app-python
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
      - name: app-python
        image: assessment/app-python:latest
        imagePullPolicy: IfNotPresent
        # We increase workers to 12 to handle the high context-switching of 10k users
        command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--workers", "12", "--backlog", "4096"]
        env:
        - name: REDIS_URL
          value: "redis://localhost:6379"
        - name: MONGO_URL
          value: "mongodb://mongo.assessment.svc.cluster.local:27017"
        resources:
          requests:
            cpu: "1000m"
            memory: "512Mi"
          limits:
            cpu: "7500m"
            memory: "2Gi"
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 5
